Pillow # manual install on rpi
numpy # manual install on rpi
https://dl.google.com/coral/python/tflite_runtime-2.1.0.post1-cp36-cp36m-linux_x86_64.whl ; sys_platform == "linux"
tensorflow==2.3.0
fastapi==0.59.0
uvicorn==0.11.5
python-multipart
